@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-black: #292B2C;
    --color-white: #fff;
    --color-orange: #ff2c4d;
    --color-green: #388E3C;
    --color-grey: #687188;
}
.featured_products{
    padding-top: 80px;
}
.featured_products .heading{
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    font-size: 32px;
}
.featured_products .slick-slide > div{
    margin: 0 10px;
}
