@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-black: #292b2c;
    --color-orange: #ff324d;
    --color-pink: #FFF1F1;
    --color-grey: #687188;
}
.testimonails{
    width: 100%;
    height: 450px;
    background-color: var(--color-pink);
    margin-top: 120px;
}
.testimonails .manage_client{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.testimonails .manage_client h2{
    padding-top: 100px;
    font-family: 'Roboto',sans-serif;
    text-transform: capitalize;
    font-size: 28px;
    color: var(--color-black);
}
.testimonails .manage_client p{
    font-family: 'Poppins',sans-serif;
    color: var(--color-grey);
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    width: 50%;
}
.manage_client .client_data{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}
.client_data .client_info h6{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    padding-left: 20px;
    color: var(--color-black);
}
.client_data .client_info p{
    color: var(--color-orange);
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
    text-align: left;
    padding: 0;
}